#l2q2answer1 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 63%;
    transform: translateY(-50%);
    display: block;
}

#l2q2result1 {
    display: none;
    position: absolute;
    left: 0;
    top: 63%;
    transform: translateY(-50%);
    z-index: 1;
}

#l2q2answer2 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 73%;
    transform: translateY(-50%);
    display: block;
}

#l2q2result2 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 73%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q2hint2 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 78%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q2subhint2 {
    left: 25px;
    height: 30px;
    width: 290px;
}

#l2q2answer3 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 83%;
    transform: translateY(-50%);
    display: block;
}

#l2q2result3 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 83%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q2hint3 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 88%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q2subhint3 {
    left: 25px;
    height: 30px;
    width: 280px;
}

#l2q2answer4 {
    position: absolute;
    text-align: center;
    left: 0;
    top: 93%;
    transform: translateY(-50%);
    display: block;
}

#l2q2result4 {
    position: absolute;
    text-align: center;
    left: 0;
    top: 93%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q2hint4 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 98%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q2subhint4 {
    left: 25px;
    height: 30px;
    width: 290px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#l2q2header {
    text-align: center;
}

#l2q2iconTroph {
    position: absolute;
    left: 20px;
    top: 53%;
    color: yellow;
    transform: translateY(-50%);
    display: block;
}

#l2q2numberTroph {
    position: absolute;
    left: 55px;
    top: 52%;
    color: yellow;
    transform: translateY(-50%);
    display: block;
}

#l2q2trophUpdate {
    position: absolute;
    left: 55px;
    top: 52%;
    color: yellow;
    transform: translateY(-50%);
    display: none;
}

#l2q2nextButton {
    position: absolute;
    left: 330px;
    top: 53%;
    color: #2dd36f;
    transform: translateY(-50%);
    display: none;
}

#l2q2emoji {
    position: absolute;
    left: 290px;
    top: 52%;
    transform: translateY(-50%);
    display: none;
}

#l2q2message {
    position: absolute;
    left: 180px;
    top: 52%;
    transform: translateY(-50%);
    display: none;
}

ion-icon {
    z-index: 1;
}

ion-label {
    left: 1px;
}