<!--<ion-header>
  <ion-toolbar>
    <ion-title>rightOfTheDay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>-->
<ion-header translucent>
    <ion-toolbar>
        <ion-title>NOLA FAQ</ion-title>
    </ion-toolbar>
</ion-header>
<ion-card id="rightCard">
    <!--Right Of the Day-->
    <ion-card-header>
        <ion-card-subtitle>NOLA: Know Your Laws</ion-card-subtitle>
        <ion-card-title>Frequently Asked Questions (FAQ)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ionic-font>
            <div>
                Question:
            </div>
            <div>
                - Answer
            </div>
            <div>
                Question:
            </div>
            <div>
                - Answer
            </div>
            <div>
                Question:
            </div>
            <div>
                - Answer
            </div>
            <div>
                Question:
            </div>
            <div>
                - Answer
            </div>
            <div>
                Question:
            </div>
            <div>
                - Answer
            </div>
        </ionic-font>
    </ion-card-content>

</ion-card>
<ion-card-content>
    <div id="container3">
    </div>
    <div id="container4">
        <ion-button (click)="navigateHome()" routerLink="" color="medium" size="large" shape="round">
            <ion-icon size="large" name="home"></ion-icon>
        </ion-button>
    </div>
</ion-card-content>