<!--<ion-header>
  <ion-toolbar>
    <ion-title>rightOfTheDay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>-->
<ion-header translucent>
    <ion-toolbar>
        <ion-title>NOLA Shop</ion-title>
    </ion-toolbar>
</ion-header>
<ion-card id="rightCard">
    <!--Right Of the Day-->
    <ion-card-header>
        <ion-card-title style="text-align:center;">In Progress</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <h1>
            C O M I N G
        </h1>

        <h1>
            S O O N
        </h1>
        <ion-icon id="fix" size="large" name="construct-sharp"></ion-icon>
    </ion-card-content>

</ion-card>
<ion-card-content>
    <div id="container3">
    </div>
    <div id="container4">
        <ion-button (click)="navigateHome()" routerLink="" color="medium" size="large" shape="round">
            <ion-icon size="large" name="home"></ion-icon>
        </ion-button>
    </div>
</ion-card-content>