<!--  The header of our question. 
      Will show the button to return to the categories page.-->
<ion-header>
    <ion-toolbar color="primary">
        <ion-icon (click)="goCat();hideColor('continue')" size="large" name="close-sharp">
        </ion-icon>
    </ion-toolbar>
</ion-header>

<!--  The rest of the page. -->
<ion-content color="primary">

    <!--  The question and image div -->
    <div id="question5Header">
        <h1>The 4th Amendment gives you the right to what?🤔</h1>
        <img src="https://lh3.googleusercontent.com/proxy/bv6exALibMAi-zo3DEapBcpRipbGg4DAPzFe0zbkRGKGMlT_ximiLQpRAEZ3sKUqpNaALcULKaEpktgXaAOYPg2_ETO7bfFDFjBKxWP7mPocmodgFDcE" alt="Image of US Constitution" class="center">
    </div>

    <!--  The trophy, count, and next button divs -->
    <div id="iconTroph5">
        <ion-icon size="large" name="trophy-sharp"></ion-icon>
    </div>
    <div id="numberTroph5">
        <h1>4</h1>
    </div>
    <div id="trophUpdate5">
        <h1>5</h1>
    </div>
    <div id="nextButton5">
        <ion-icon (click)="nextPage(); hideColor('continue')" size="large" name="arrow-forward-circle"></ion-icon>
    </div>
    <div id="emoji5">
        <h1>😃</h1>
    </div>
    <div id="message5">
        <h3>You did it!</h3>
    </div>

    <!--  The first answer choice -->
    <div id="Q5answer1">
        <ion-item color="primary" lines="none" (click)="showColor('green', 1)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Protection against unreasonable searches</ion-label>
        </ion-item>
    </div>
    <div id="Q5result1">
        <ion-item color="success" lines="none">
            <ion-icon color="light" size="large" name="checkmark-circle-sharp">
            </ion-icon>
            <ion-label>Protections against unreasonable searches</ion-label>
        </ion-item>
    </div>

    <!--  The second answer choice -->
    <div id="Q5answer2">
        <ion-item color="primary" lines="none" (click)="showColor('red', 2)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Right to Bear Arms</ion-label>
        </ion-item>
    </div>
    <div id="Q5result2">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Right to Bear Arms</ion-label>
        </ion-item>
    </div>
    <div id="Q5hint2">
        <ion-item id="Q5subhint2" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: Gives you a protection from something🧐</p>
            </ion-label>
        </ion-item>
    </div>

    <!--  The third answer choice -->
    <div id="Q5answer3">
        <ion-item color="primary" lines="none" (click)="showColor('red', 3)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Protection against involuntary servitude</ion-label>
        </ion-item>
    </div>
    <div id="Q5result3">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Protection against involuntary servitude</ion-label>
        </ion-item>
    </div>
    <div id="Q5hint3">
        <ion-item id="Q5subhint3" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: Gives you a protection from something🧐</p>
            </ion-label>
        </ion-item>
    </div>

    <!--  The fourth answer choice -->
    <div id="Q5answer4">
        <ion-item color="primary" lines="none" (click)="showColor('red', 4)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Right to a speedy and public trial</ion-label>
        </ion-item>
    </div>
    <div id="Q5result4">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Right to a speedy and public trial</ion-label>
        </ion-item>
    </div>
    <div id="Q5hint4">
        <ion-item id="Q5subhint4" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: Gives you a protection from something🧐</p>
            </ion-label>
        </ion-item>
    </div>

</ion-content>