<!--  The header of our question. 
      Will show the button to return to the categories page.-->
<ion-header>
    <ion-toolbar color="tertiary">
        <ion-icon (click)="goCat();hideColor('continue')" size="large" name="close-sharp">
        </ion-icon>
    </ion-toolbar>
</ion-header>

<!--  The rest of the page. -->
<ion-content color="tertiary">

    <!--  The question and image div -->
    <div id="question4Header">
        <h1>Which of the following is allowed when in a public encounter with police?🤔</h1>
        <img src="https://img.particlenews.com/img/id/0AGP3l_0PUpQ9zL00?type=thumbnail_512x288" alt="Image of Voter Ballot" class="center">
    </div>

    <!--  The trophy, count, and next button divs -->
    <div id="iconTroph4">
        <ion-icon size="large" name="trophy-sharp"></ion-icon>
    </div>
    <div id="numberTroph4">
        <h1>3</h1>
    </div>
    <div id="trophUpdate4">
        <h1>4</h1>
    </div>
    <div id="nextButton4">
        <ion-icon (click)="nextPage(); hideColor('continue')" size="large" name="arrow-forward-circle"></ion-icon>
    </div>
    <div id="emoji4">
        <h1>🔥</h1>
    </div>
    <div id="message4">
        <h3>Keep it Up!</h3>
    </div>

    <!--  The first answer choice -->
    <div id="Q4answer1">
        <ion-item color="tertiary" lines="none" (click)="showColor('green', 1)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Video and Audio Recording</ion-label>
        </ion-item>
    </div>
    <div id="Q4result1">
        <ion-item color="success" lines="none">
            <ion-icon color="light" size="large" name="checkmark-circle-sharp">
            </ion-icon>
            <ion-label>Video and Audio Recording</ion-label>
        </ion-item>
    </div>

    <!--  The second answer choice -->
    <div id="Q4answer2">
        <ion-item color="tertiary" lines="none" (click)="showColor('red', 2)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Interfere with the officers' duty</ion-label>
        </ion-item>
    </div>
    <div id="Q4result2">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Interfere with the officers' duty</ion-label>
        </ion-item>
    </div>
    <div id="Q4hint2">
        <ion-item id="Q4subhint2" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: It is illegal to disrupt an officers' duty👮</p>
            </ion-label>
        </ion-item>
    </div>

    <!--  The third answer choice -->
    <div id="Q4answer3">
        <ion-item color="tertiary" lines="none" (click)="showColor('red', 3)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>All of the above</ion-label>
        </ion-item>
    </div>
    <div id="Q4result3">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>All of the above</ion-label>
        </ion-item>
    </div>
    <div id="Q4hint3">
        <ion-item id="Q4subhint3" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: It is illegal to disrupt an officers' duty👮</p>
            </ion-label>
        </ion-item>
    </div>

    <!--  The fourth answer choice -->
    <div id="Q4answer4">
        <ion-item color="tertiary" lines="none" (click)="showColor('red', 4)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Physically resist arrest</ion-label>
        </ion-item>
    </div>
    <div id="Q4result4">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Physically resist arrest</ion-label>
        </ion-item>
    </div>
    <div id="Q4hint4">
        <ion-item id="Q4subhint4" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: It is illegal to disrupt an officers' duty👮</p>
            </ion-label>
        </ion-item>
    </div>
</ion-content>