<ion-header>
    <ion-toolbar>
        <ion-title class="center">U.S. Laws & Rights #04</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="correct">
        <h1 style="text-align:center; font-size:70px;">CORRECT!</h1>
        <ion-button (click)="hideColor('Continue')" routerLink="question3" color="primary" size="large" shape="round">Continue</ion-button>
    </div>
    <div id="wrong">
        <h1 style="font-size:100px; ">TRY AGAIN!</h1>
        <ion-button (click)="hideColor('Go Back')" routerLink="question3" color="primary" size="large" shape="round">Return To Question</ion-button>
    </div>
    <div id="centerThis">
        <h2>Which of the following is allowed when in a public encounter with police?</h2>
        <img src="https://img.particlenews.com/img/id/0AGP3l_0PUpQ9zL00?type=thumbnail_512x288" alt="Image of US Constitution" class="center">
    </div>
    <div id="iconTroph">
        <ion-icon size="large" name="trophy-sharp"></ion-icon>
    </div>
    <div id="Qcontainer1">
        <ion-button (click)="showColor('red')" routerLink="question3" color="primary" size="large" shape="round">All of these</ion-button>
        <ion-button (click)="showColor('red')" routerLink="question3" color="secondary" size="large" shape="round">Interfere with the officers' duty</ion-button>

    </div>
    <div id="Qcontainer2">
        <ion-button (click)="showColor('red')" routerLink="question3" color="tertiary" size="large" shape="round">Physically resist</ion-button>
        <ion-button (click)="showColor('green')" routerLink="question3" color="success" size="large" shape="round">Video and Audio Record</ion-button>
    </div>
</ion-content>