#Qcontainer1 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 63%;
    transform: translateY(-50%);
    display: block;
}

#Qresult1 {
    display: none;
    position: absolute;
    left: 0;
    top: 63%;
    transform: translateY(-50%);
    z-index: 1;
}

#Qcontainer2 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 73%;
    transform: translateY(-50%);
    display: block;
}

#Qresult2 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 73%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#Qhint2 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 78%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#hint2 {
    left: 25px;
    height: 30px;
    width: 390px;
}

#Qcontainer3 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 83%;
    transform: translateY(-50%);
    display: block;
}

#Qresult3 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 83%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#Qhint3 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 88%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#hint3 {
    left: 25px;
    height: 30px;
    width: 290px;
}

#Qcontainer4 {
    position: absolute;
    text-align: center;
    left: 0;
    top: 93%;
    transform: translateY(-50%);
    display: block;
}

#Qresult4 {
    position: absolute;
    text-align: center;
    left: 0;
    top: 93%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#Qhint4 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 98%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#hint4 {
    left: 25px;
    height: 30px;
    width: 290px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#centerThis {
    text-align: center;
}

#iconTroph {
    position: absolute;
    left: 20px;
    top: 56%;
    color: yellow;
    transform: translateY(-50%);
    display: block;
}

#numberTroph {
    position: absolute;
    left: 55px;
    top: 55%;
    color: yellow;
    transform: translateY(-50%);
    display: block;
}

#nextButton {
    position: absolute;
    left: 330px;
    top: 56%;
    color: #2dd36f;
    transform: translateY(-50%);
    display: none;
}

ion-icon {
    z-index: 1;
}

ion-label {
    left: 1px;
}