<!--  The header of our question. 
      Will show the button to return to the categories page.-->
<ion-header>
    <ion-toolbar color="tertiary">
        <ion-icon (click)="goCat();hideColor('continue')" size="large" name="close-sharp">
        </ion-icon>
    </ion-toolbar>
</ion-header>

<!--  The rest of the page. -->
<ion-content color="tertiary">

    <!--  The question and image div -->
    <div id="question2Header">
        <h1>Which amendment gives you the right to vote regardless of color of skin or race?🤔</h1>
        <img src="https://ichef.bbci.co.uk/images/ic/1024x576/p07snhjs.jpg" alt="Image of Voter Ballot" class="center">
    </div>

    <!--  The trophy, count, and next button divs -->
    <div id="iconTroph2">
        <ion-icon size="large" name="trophy-sharp"></ion-icon>
    </div>
    <div id="numberTroph2">
        <h1>1</h1>
    </div>
    <div id="trophUpdate2">
        <h1>2</h1>
    </div>
    <div id="nextButton2">
        <ion-icon (click)="nextPage(); hideColor('continue')" size="large" name="arrow-forward-circle"></ion-icon>
    </div>
    <div id="emoji2">
        <h1>😄</h1>
    </div>
    <div id="message2">
        <h3>Well Done!</h3>
    </div>

    <!--  The first answer choice -->
    <div id="Q2answer1">
        <ion-item color="tertiary" lines="none" (click)="showColor('green', 1)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>15th Amendment</ion-label>
        </ion-item>
    </div>
    <div id="Q2result1">
        <ion-item color="success" lines="none">
            <ion-icon color="light" size="large" name="checkmark-circle-sharp">
            </ion-icon>
            <ion-label>15th Amendment</ion-label>
        </ion-item>
    </div>

    <!--  The second answer choice -->
    <div id="Q2answer2">
        <ion-item color="tertiary" lines="none" (click)="showColor('red', 2)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>6th Amendment</ion-label>
        </ion-item>
    </div>
    <div id="Q2result2">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>6th Amendment</ion-label>
        </ion-item>
    </div>
    <div id="Q2hint2">
        <ion-item id="Q2subhint2" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: One of the 13th, 14th, 15th📚</p>
            </ion-label>
        </ion-item>
    </div>

    <!--  The third answer choice -->
    <div id="Q2answer3">
        <ion-item color="tertiary" lines="none" (click)="showColor('red', 3)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>13th Amendment</ion-label>
        </ion-item>
    </div>
    <div id="Q2result3">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>13th Amendment</ion-label>
        </ion-item>
    </div>
    <div id="Q2hint3">
        <ion-item id="Q2subhint3" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: One of the 13th, 14th, 15th📚</p>
            </ion-label>
        </ion-item>
    </div>

    <!--  The fourth answer choice -->
    <div id="Q2answer4">
        <ion-item color="tertiary" lines="none" (click)="showColor('red', 4)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>14th Amendment</ion-label>
        </ion-item>
    </div>
    <div id="Q2result4">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>14th Amendment</ion-label>
        </ion-item>
    </div>
    <div id="Q2hint4">
        <ion-item id="Q2subhint4" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: One of the 13th, 14th, 15th📚</p>
            </ion-label>
        </ion-item>
    </div>

</ion-content>