<ion-header>
    <ion-toolbar>
        <ion-title class="center">U.S. Laws & Rights #02</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="correct">
        <h1 style="text-align:center; font-size:70px;">CORRECT!</h1>
        <ion-button (click)="hideColor('Continue')" routerLink="question3" color="primary" size="large" shape="round">Continue</ion-button>
    </div>
    <div id="wrong">
        <h1 style="font-size:100px; ">TRY AGAIN!</h1>
        <h4>Hint #1 : It was passed in a series of Amendments to help newly-emancipated African Americans.</h4>
        <h4>Hint #2: It's one of the 10-19 Amendments.</h4>
        <ion-button (click)="hideColor('Go Back')" routerLink="question3" color="primary" size="large" shape="round">Return To Question</ion-button>
    </div>
    <div id="centerThis">
        <h2>Which amendment gives you the right to vote regardless of color, race, or previous years of servitude?</h2>
        <img src="https://ichef.bbci.co.uk/images/ic/1024x576/p07snhjs.jpg" alt="Image of US Constitution" class="center">
    </div>
    <div id="iconTroph">
        <ion-icon size="large" name="trophy-sharp"></ion-icon>
    </div>
    <div id="numberTroph">
        <h1>1</h1>
    </div>
    <div id="Qcontainer1">
        <ion-button (click)="showColor('red')" routerLink="question3" color="primary" size="large" shape="round">6th Amendment</ion-button>
        <ion-button (click)="showColor('green')" routerLink="question3" color="danger" size="large" shape="round">15th Amendment</ion-button>

    </div>
    <div id="Qcontainer2">
        <ion-button (click)="showColor('red')" routerLink="question3" color="tertiary" size="large" shape="round">19th Amendment</ion-button>
        <ion-button (click)="showColor('red')" routerLink="question3" color="success" size="large" shape="round">3rd Amendment</ion-button>
    </div>
</ion-content>