<ion-header>
    <ion-toolbar>
        <ion-title class="center">Immigrants' Rights #03</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="correct">
        <h1 style="text-align:center; font-size:70px;">CORRECT!</h1>
        <ion-button (click)="hideColor('Continue')" routerLink="question3" color="primary" size="large" shape="round">Continue</ion-button>
    </div>
    <div id="wrong">
        <h1 style="font-size:100px; ">TRY AGAIN!</h1>
        <h2>Hint #1 : CBP and HSI officers and agents have the liberty of instructing you for a search or interview if they have reasonable suspicion.</h2>
        <ion-button (click)="hideColor('Go Back')" routerLink="question3" color="primary" size="large" shape="round">Return To Question</ion-button>
    </div>
    <div id="centerThis">
        <h1>What could you encounter upon entering the United States?</h1>
        <img src="https://ucommblog.com/sites/default/files/photos/tsa-screeners.jpg" alt="Image of Mariposa" class="center">
    </div>
    <div id="iconTroph">
        <ion-icon size="large" name="trophy-sharp"></ion-icon>
    </div>
    <div id="numberTroph">
        <h1>12</h1>
    </div>
    <div id="Qcontainer1">
        <ion-button (click)="showColor('red')" routerLink="question3" color="primary" size="large" shape="round">Provide fingerprints when entering as a non-citizen or permanent resident</ion-button>
        <ion-button (click)="showColor('red')" routerLink="question3" color="secondary" size="large" shape="round">Questions about my religious beliefs and practices or political opinions</ion-button>

    </div>
    <div id="Qcontainer2">
        <ion-button (click)="showColor('red')" routerLink="question3" color="tertiary" size="large" shape="round">CBP officers or HSI agents.</ion-button>
        <ion-button (click)="showColor('green')" routerLink="question3" color="success" size="large" shape="round">All of the above.</ion-button>
    </div>
</ion-content>