<ion-header>
    <ion-toolbar>
        <ion-title class="center">Immigrants' Rights #04</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="correct">
        <h1 style="text-align:center; font-size:70px;">CORRECT!</h1>
        <ion-button (click)="hideColor('Continue')" routerLink="question3" color="primary" size="large" shape="round">Continue</ion-button>
    </div>
    <div id="wrong">
        <h1 style="font-size:100px; ">TRY AGAIN!</h1>
        <h2>Hint #1 : Do not self-incriminate yourself!</h2>
        <ion-button (click)="hideColor('Go Back')" routerLink="question3" color="primary" size="large" shape="round">Return To Question</ion-button>
    </div>
    <div id="centerThis">
        <h1>Which of these should you do when stopped by immigration or the police?</h1>
        <img height="265px" src="https://d279m997dpfwgl.cloudfront.net/wp/2017/09/NH-Checkpoint.jpg" alt="Image of Mariposa" class="center">
    </div>
    <div id="iconTroph">
        <ion-icon size="large" name="trophy-sharp"></ion-icon>
    </div>
    <div id="numberTroph">
        <h1>13</h1>
    </div>
    <div id="Qcontainer1">
        <ion-button (click)="showColor('red')" routerLink="question3" color="primary" size="large" shape="round">Remain silent and refuse to answer questions.</ion-button>
        <ion-button (click)="showColor('red')" routerLink="question3" color="secondary" size="large" shape="round">Contact an attorney immediately</ion-button>

    </div>
    <div id="Qcontainer2">
        <ion-button (click)="showColor('red')" routerLink="question3" color="tertiary" size="large" shape="round">Refuse to sign anything without legal advice</ion-button>
        <ion-button (click)="showColor('green')" routerLink="question3" color="success" size="large" shape="round">All of the above.</ion-button>
    </div>
</ion-content>