.sc-ion-buttons-md-h {
    display: block !important;
}

ion-menu-button {
    color: var(--ion-color-primary);
    height: 100px !important;
}

$colors: ( tertiary: navy);
#container1 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
}

#LogoHeader {
    position: absolute;
    top: -9px;
    right: 25%;
    height: 120px;
}

#title {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    transform: translateY(-50%);
    font-weight: 900;
}

#center {
    right: 30px;
}

#container2 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

#playB {
    width: 260px;
    height: 100px;
    white-space: initial;
}

#RODB {
    width: 230px;
    height: 120px;
    white-space: initial;
}