<ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
        <ion-buttons size="large" slot="start">
            <ion-menu-button>
                <img id="Logo" height="80" src="https://i.ibb.co/Sfxw7s1/logo-removebg-preview.png" alt="logo-removebg-preview"> </ion-menu-button>
        </ion-buttons>
        <!--<h1 id="NOLA_title" style="font-size:60px; ">NOLA</h1>-->
        <img class="center" height="80px" src="https://i.ibb.co/9nN9W6L/company-removebg-preview.png" alt="company-removebg-preview">
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h1 style="font-size:60px; text-align:center;">
        California
    </h1>
    <div id="container1">
        <ion-button routerLink="/categories" color="warning" size="large">
            <h1 style="font-size:100px; ">PLAY</h1>
        </ion-button>
    </div>
    <div id="container2">
        <ion-button (click)="navigateROTD()" color="secondary" size="large">
            <h1 style="font-size:50px; ">Right Of The Day</h1>
        </ion-button>
    </div>
</ion-content>