#l2q4answer1 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 73%;
    transform: translateY(-50%);
    display: block;
}

#l2q4result1 {
    display: none;
    position: absolute;
    left: 0;
    top: 73%;
    transform: translateY(-50%);
    z-index: 1;
}

#l2q4answer2 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 83%;
    transform: translateY(-50%);
    display: block;
}

#l2q4result2 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 83%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q4hint2 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 88%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q4subhint2 {
    left: 25px;
    height: 30px;
    width: 360px;
}

#l2q4answer3 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 93%;
    transform: translateY(-50%);
    display: block;
}

#l2q4result3 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 93%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q4hint3 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 97%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q4subhint3 {
    left: 25px;
    height: 30px;
    width: 360px;
}

#l2q4answer4 {
    position: absolute;
    text-align: center;
    left: 0;
    top: 63%;
    transform: translateY(-50%);
    display: block;
}

#l2q4result4 {
    position: absolute;
    text-align: center;
    left: 0;
    top: 63%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q4hint4 {
    text-align: center;
    position: absolute;
    left: 0;
    top: 68%;
    transform: translateY(-50%);
    display: none;
    z-index: 1;
}

#l2q4subhint4 {
    left: 25px;
    height: 30px;
    width: 360px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#l2q4header {
    text-align: center;
}

#l2q4iconTroph {
    position: absolute;
    left: 20px;
    top: 53%;
    color: yellow;
    transform: translateY(-50%);
    display: block;
}

#l2q4numberTroph {
    position: absolute;
    left: 55px;
    top: 52%;
    color: yellow;
    transform: translateY(-50%);
    display: block;
}

#l2q4trophUpdate {
    position: absolute;
    left: 55px;
    top: 52%;
    color: yellow;
    transform: translateY(-50%);
    display: none;
}

#l2q4nextButton {
    position: absolute;
    left: 330px;
    top: 53%;
    color: #2dd36f;
    transform: translateY(-50%);
    display: none;
}

#l2q4emoji {
    position: absolute;
    left: 290px;
    top: 52%;
    transform: translateY(-50%);
    display: none;
}

#l2q4message {
    position: absolute;
    left: 180px;
    top: 52%;
    transform: translateY(-50%);
    display: none;
}

ion-icon {
    z-index: 1;
}

ion-label {
    left: 1px;
}