<!--  The header of our question. 
      Will show the button to return to the categories page.-->
<ion-header>
    <ion-toolbar color="primary">
        <ion-icon (click)="goCat();hideColor('continue')" size="large" name="close-sharp">
        </ion-icon>
    </ion-toolbar>
</ion-header>

<!--  The rest of the page. -->
<ion-content color="primary">

    <!--  The question and image div -->
    <div id="centerThis">
        <h1>What does the First Amendment NOT guarantee?</h1>
        <img src="https://media2.govtech.com/images/940*627/shutterstock_729363.jpg" alt="Image of US Constitution" class="center">
    </div>

    <!--  The trophy, count, and next button divs -->
    <div id="iconTroph">
        <ion-icon size="large" name="trophy-sharp"></ion-icon>
    </div>
    <div id="numberTroph">
        <h1>0</h1>
    </div>
    <div id="nextButton">
        <ion-icon (click)="nextPage(); hideColor('continue')" size="large" name="arrow-forward-circle"></ion-icon>
    </div>

    <!--  The first answer choice -->
    <div id="Qcontainer1">
        <ion-item color="primary" lines="none" (click)="showColor('green', 1)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Right to Privacy</ion-label>
        </ion-item>
    </div>
    <div id="Qresult1">
        <ion-item color="success" lines="none">
            <ion-icon color="light" size="large" name="checkmark-circle-sharp">
            </ion-icon>
            <ion-label>Right to Privacy</ion-label>
        </ion-item>
    </div>

    <!--  The second answer choice -->
    <div id="Qcontainer2">
        <ion-item color="primary" lines="none" (click)="showColor('red', 2)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Right to Freedom of Religion</ion-label>
        </ion-item>
    </div>
    <div id="Qresult2">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Right to Freedom of Religion</ion-label>
        </ion-item>
    </div>
    <div id="Qhint2">
        <ion-item id="hint2" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: 1st gives us our key freedoms</p>
            </ion-label>
        </ion-item>
    </div>

    <!--  The third answer choice -->
    <div id="Qcontainer3">
        <ion-item color="primary" lines="none" (click)="showColor('red', 3)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Right to Peaceful Assembly</ion-label>
        </ion-item>
    </div>
    <div id="Qresult3">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Right to Peaceful Assembly</ion-label>
        </ion-item>
    </div>
    <div id="Qhint3">
        <ion-item id="hint3" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: 1st gives us our key freedoms</p>
            </ion-label>
        </ion-item>
    </div>

    <!--  The fourth answer choice -->
    <div id="Qcontainer4">
        <ion-item color="primary" lines="none" (click)="showColor('red', 4)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Right to Freedom of Speech</ion-label>
        </ion-item>
    </div>
    <div id="Qresult4">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Right to Freedom of Speech</ion-label>
        </ion-item>
    </div>
    <div id="Qhint4">
        <ion-item id="hint4" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: 1st gives us our key freedoms</p>
            </ion-label>
        </ion-item>
    </div>
</ion-content>