#container1 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    transform: translateY(-50%);
}

#container2 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 37%;
    transform: translateY(-50%);
}

#container3 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 59%;
    transform: translateY(-50%);
}

#container4 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 81%;
    transform: translateY(-50%);
}

ion-button {
    width: 340px;
    height: 140px;
    white-space: initial;
}