<!--  The header of our question. 
      Will show the button to return to the categories page.-->
<ion-header>
    <ion-toolbar color="primary">
        <ion-icon (click)="goCat();hideColor('continue')" size="large" name="close-sharp">
        </ion-icon>
    </ion-toolbar>
</ion-header>

<!--  The rest of the page. -->
<ion-content color="primary">

    <!--  The question and image div -->
    <div id="l2q1header">
        <h1>Which of these rights do undocumented students have?🤔</h1>
        <img src="https://prod.wp.cdn.aws.wfu.edu/sites/221/2018/02/dreamer_1.jpg" alt="Image of US Constitution" class="center">
    </div>

    <!--  The trophy, count, and next button divs -->
    <div id="l2q1iconTroph">
        <ion-icon size="large" name="trophy-sharp"></ion-icon>
    </div>
    <div id="l2q1numberTroph">
        <h1>5</h1>
    </div>
    <div id="l2q1trophUpdate">
        <h1>6</h1>
    </div>
    <div id="l2q1nextButton">
        <ion-icon (click)="nextPage(); hideColor('continue')" size="large" name="arrow-forward-circle"></ion-icon>
    </div>
    <div id="l2q1emoji">
        <h1>🥳</h1>
    </div>
    <div id="l2q1message">
        <h3>Woohoo!</h3>
    </div>
    <!--  The first answer choice -->
    <div id="l2q1answer1">
        <ion-item color="primary" lines="none" (click)="showColor('green', 1)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>All of the above</ion-label>
        </ion-item>
    </div>
    <div id="l2q1result1">
        <ion-item color="success" lines="none">
            <ion-icon color="light" size="large" name="checkmark-circle-sharp">
            </ion-icon>
            <ion-label>All of the above</ion-label>
        </ion-item>
    </div>

    <!--  The second answer choice -->
    <div id="l2q1answer2">
        <ion-item color="primary" lines="none" (click)="showColor('red', 2)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Protection from immigration agents in school</ion-label>
        </ion-item>
    </div>
    <div id="l2q1result2">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Protection from immigration agents in school</ion-label>
        </ion-item>
    </div>
    <div id="l2q1hint2">
        <ion-item id="l2q1subhint2" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: Our fundamental rights are universal🤝</p>
            </ion-label>
        </ion-item>
    </div>

    <!--  The third answer choice -->
    <div id="l2q1answer3">
        <ion-item color="primary" lines="none" (click)="showColor('red', 3)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Privacy's of students' citizenship status</ion-label>
        </ion-item>
    </div>
    <div id="l2q1result3">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Privacy's of students' citizenship status</ion-label>
        </ion-item>
    </div>
    <div id="l2q1hint3">
        <ion-item id="l2q1subhint3" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: Our fundamental rights are universal🤝</p>
            </ion-label>
        </ion-item>
    </div>

    <!--  The fourth answer choice -->
    <div id="l2q1answer4">
        <ion-item color="primary" lines="none" (click)="showColor('red', 4)">
            <ion-icon size="large" name="ellipse-sharp">
            </ion-icon>
            <ion-label>Right to a free public education</ion-label>
        </ion-item>
    </div>
    <div id="l2q1result4">
        <ion-item color="danger" lines="none">
            <ion-icon color="light" size="large" name="close-circle-sharp">
            </ion-icon>
            <ion-label>Right to a free public education</ion-label>
        </ion-item>
    </div>
    <div id="l2q1hint4">
        <ion-item id="l2q1subhint4" color="danger" lines="none">
            <ion-icon color="light" size="small" name="key-sharp">
            </ion-icon>
            <ion-label>
                <p>Hint: Our fundamental rights are universal🤝</p>
            </ion-label>
        </ion-item>
    </div>
</ion-content>