<ion-content>
    <ion-header translucent>
        <ion-toolbar>
            <ion-title>Right Of The Day</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card color="white" fullscreen>
        <!--Right Of the Day-->
        <ion-card-header>
            <ion-card-subtitle>U.S. Rights #1</ion-card-subtitle>
            <ion-card-title>First Amendment</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ionic-font>
                "Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press..."
            </ionic-font>
        </ion-card-content>

        <img src="https://news.cornell.edu/sites/default/files/styles/story_thumbnail_xlarge/public/2018-05/0502_free_speech.jpg?h=4233ef75&itok=-G55-64N" />
        <ion-card-header>
            <ion-card-subtitle>Summary & Significance</ion-card-subtitle>
            <ion-card-title>Key Freedoms!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Gives you the right to believe and practice whatever religion you want, to voice your opinions publicly, and to gather in groups without the government stopping you.
        </ion-card-content>
        <ion-card-content>
            <ion-button id="home" (click)="navigateHome()" color="primary" size="large" shape="round">
                <ion-icon size="large" name="home"></ion-icon>
            </ion-button>
        </ion-card-content>
    </ion-card>