#container4 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 2%;
    transform: translateY(-50%);
}

#container3 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1;
}

#sumCard {
    bottom: 2%;
    height: 90% !important;
}

#rightCard {
    bottom: 2%;
    height: 100% !important;
}

#home {
    position: absolute;
    text-align: center;
    bottom: 0.1px;
    left: 37%;
}

ion-icon {
    z-index: 1;
}

ion-title {
    text-align: center;
}