<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="centerT">
        <h1>Well Done!</h1>
    </div>
    <div id="container1">
        <ion-button (click)="return2C()" routerLink="levelOnequestion1" color="primary" size="large" shape="round">Other Levels</ion-button>
    </div>
    <div id="container2">
        <ion-button (click)="returnHome()" routerLink="levelOnequestion1" color="primary" size="large" shape="round">Home</ion-button>
    </div>
</ion-content>