<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="centerT">
        <h1 style="font-size:100px; ">Well Done!</h1>
        <h1 style="font-size:100px; ">🥳</h1>

    </div>
    <div id="container1">
        <ion-button id="otherL" (click)="return2C()" routerLink="levelOnequestion1" color="warning" size="large" shape="round">
            <h1 style="font-size:40px; ">Other Levels</h1>
        </ion-button>
    </div>
    <div id="container2">
        <ion-button (click)="returnHome()" routerLink="levelOnequestion1" color="tertiary" size="large" shape="round">
            <ion-icon size="large" name="home"></ion-icon>
        </ion-button>
    </div>
</ion-content>