#container1 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
}

#container2 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
}

#container3 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
}

#container4 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 89%;
    transform: translateY(-50%);
}

#other {
    width: 250px;
    height: 110px;
    white-space: initial;
}