<ion-header>
    <ion-toolbar>
        <ion-title>Levels</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="container1">
        <ion-button (click)="navigateL1Q1()" routerLink="levelOnequestion1" color="primary" size="large" shape="round">Level 1: US Rights</ion-button>
    </div>
    <div id="container2">
        <ion-button (click)="navigateL2Q1()" routerLink="" color="secondary" size="large" shape="round">Level 2: Student Rights P.1: </ion-button>
    </div>
    <div id="container3">
        <ion-button (click)="navigateL3Q1()" routerLink="" color="tertiary" size="large" shape="round">Level 3: Student Rights P.2:</ion-button>
    </div>
    <div id="container4">
        <ion-button (click)="navigateHome()" routerLink="" color="success" size="large" shape="round">Home</ion-button>
    </div>
</ion-content>