<ion-header>
    <ion-toolbar>
        <ion-title>Levels</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="container1">
        <ion-button id="other" (click)="navigateL1Q1()" color="warning" size="large">
            <h1 style="font-size:36px; ">
                Lvl 1: U.S. Rights
            </h1>
        </ion-button>
    </div>
    <div id="container2">
        <ion-button id="other" (click)="navigateL2Q1()" color="tertiary" size="large">
            <h1 style="font-size:30px; ">
                Lvl 2: Student Rights
            </h1>
        </ion-button>
    </div>
    <div id="container3">
        <ion-button id="other" (click)="navigateL3Q1()" color="warning" size="large">
            <h1 style="font-size:28px; ">
                Lvl 3: Immigrants Rights
            </h1>
        </ion-button>
    </div>
    <div id="container4">
        <ion-button id="Home" (click)="navigateHome()" color="tertiary" size="large" width="340px" height="140px">
            <ion-icon size="large" name="home"></ion-icon>

        </ion-button>
    </div>
</ion-content>